// List
$selectarr-border: 1px !default;
$selectarr-border-color: #e8ebec !default;

$selectarr-bg: #fff !default;

$selectarr-zindex: 10 !default;

// Item
$selectarr-item-spacing-y: .6rem !default;
$selectarr-item-spacing-x: 1.2rem !default;