.selectarr {
  position: relative;
  display: inline-block;
}

.selectarr__list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  border-right: $selectarr-border solid $selectarr-border-color;
  border-left: $selectarr-border solid $selectarr-border-color;
  list-style: none;
  background-color: $selectarr-bg;
  z-index: $selectarr-zindex;
  box-sizing: border-box;
}

.selectarr__item {
  margin: 0;
  padding: $selectarr-item-spacing-y $selectarr-item-spacing-x;
  border-bottom: $selectarr-border solid $selectarr-border-color;
  list-style: none;
  cursor: pointer;
  transition: background-color .15s ease;

  &--active {
    background-color: $selectarr-border-color;
  }
}